.project-effort-table-container {
  > div {
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 15px;
    overflow: auto;
    background-color: white !important;
  }
  table {
    width: 100%;
    th.mat-sort-header-sorted {
      color: black;
    }
    .icon-container {
      display: flex;
      fa-icon {
        align-self: center !important;
        margin-left: 25px;
      }
    }
  }
}
