
@Color1: rgb(38, 55, 82);
@Color2: rgb(210, 210, 210);
@Color3: rgb(44, 60, 87);

html,
body {
  height: 100%;
  margin: 0;
  min-width: fit-content;
  background-color: @Color2;
  font-family: "Helvetica Neue", sans-serif;
}
